html {
    font-size: 62.5%;
}

html,
body {
    //height: 100%;
    // background-color: $sand;
    //background-color: $red;
    // background-image: url('../images/horizontaldots.png');
}

body {
    font-size: 1.6rem;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}