html {
    font-size: 62.5%;
}

html,
body {
    background: $purple; 
    // background-color: $sand;
    font-size: 1.5em;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
	min-height: 100%;
}

a{
	color: #FFEDCF;
	&:hover{
		color: #F20033;
	}
}