$spacing-unit: 20px;
$font: 'Circular-Bold','Helvetica',sans-serif;
$font-italic: 'Circular-BoldItalic';
$wolfgif-width: 70%;
$site-max-width: 2600px;

$screen-break1: 'screen and (max-width: 1000px)';
$screen-mobile: 'screen and (max-width: 700px)';

/////////////////////

@mixin transition($args...) {
	-webkit-transition: $args;
	-moz-transition: $args;
	-ms-transition: $args;
	-o-transition: $args;
	transition: $args;
}

@mixin transform($transforms) {
	-moz-transform: $transforms;
	-o-transform: $transforms;
	-ms-transform: $transforms;
	-webkit-transform: $transforms;
	transform: $transforms;
}

@mixin opacity($opacity) {
	opacity: $opacity;
	$opacity-ie: $opacity * 100;
 	filter: alpha(opacity=$opacity-ie); //IE8
 }

 @mixin border()
 {
 	// border: 2px dashed red;
 }

 @mixin bp-large {
 	@media only screen and (max-width: 140em) {
 		@content;
 	}
 }

 @mixin bp-medium {
 	@media only screen and (max-width: 90em) {
 		@content;
 	}
 }

 @mixin bp-small {
 	@media only screen and (max-width: 60em) {
 		@content;
 	}
 }

////////////////////

body{
	font-family: $font;
	color: #333;
}

a{
	color: #333; 
	text-decoration: none;
	&:visited{color:  #333;}
}
canvas
{
	position: fixed;
	z-index: -100;
}

h1{font-size: 1em;}


////////////////////

#page-wrapper{
	position: relative;
	width: 100%; max-width: $site-max-width;
	overflow-x: hidden;
	margin: auto;
	background: transparent;
}

nav{
	position: fixed;
	width: 100%; max-width: $site-max-width;
	margin-top: $spacing-unit*2;
	
	font-family: $font-italic;

	box-sizing: border-box;
	z-index: 999;
}

nav ul{
	width: 100%;
	z-index: 999;
	text-align: right;
	padding: 0 $spacing-unit*2 0 $spacing-unit*2;
	li:nth-child(1){float: left; margin-left: 0;}
	li{
		@extend h1;
		margin-left: $spacing-unit*2;
	}
}

.about{
	width: 100%; height: 100vh;
	text-align: center;
	display: flex;
	align-items: center;
	align-content: center;
	justify-content: center;
	flex-wrap: wrap;
	h2{
		font-size: 5em;
		@media #{$screen-mobile}{
			font-size: 3em;
		}
	}
	// margin-bottom: $spacing-unit*4;
	padding: $spacing-unit*2;
	@include bp-small {
		padding: $spacing-unit;
	}
}

// GRID ///////////////////////

ul.grid{
	width: 100%;
	box-sizing: border-box;
	overflow-x: hidden;
	z-index: 1;
	li{
		position: relative;
		width: 100vw; height: 40vh; 
		overflow: hidden;
		@include border();
	}

	.wrapper{
		position: relative;
		width: 100vw; height: 100vh;
		top: 0; bottom: 0; left: 0; right: 0;
		margin: auto;

		display: flex;
		align-items: center;
		justify-content: center;
		perspective: 600px;
		z-index: 100;

		@include opacity(0);
	}
	.fixed{
		position: fixed; 
		@include opacity(1);
		left: 0;
		z-index: 500;
		@include transition(opacity .7s ease );
	}
	.hidden{
		position: static; 
		@include opacity(0);
		left: -100%;
		z-index: 0;
		@include transition(opacity .3s ease .1);
	}
	.wrapper, .fixed, .wolfmusic, .wolftitle, .wolfparent, .wolfgif, .full, .about {
		@include transform(translate3d(0,0,0)); -webkit-transform-style: preserve-3d; transform-style:preserve-3d;
	}

	.wolftitle{
		-webkit-font-smoothing: antialiased;
		-moz-osx-font-smoothing: grayscale; 
		font-smoothing: antialiased;
		letter-spacing: -.05em;
	}

		.wolfparent {
			margin: auto;
			z-index: 900;
			@include transition(width .9s ease .1s, height .9s ease .1s, opacity .5s ease .3s);

			> a > div {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 900;
			}

			a {
				position: absolute;
				top: 0;
				left: 0;
				right: 0;
				bottom: 0;
				z-index: 900;
			}
		}

		.wolfgif{
			background-position: fixed;
			@include opacity(0);
			@include transition(opacity .5s ease 0s);
		}


		.wolftitle{
			@extend h1;
			position: absolute;
			top: 50%; left: 8vw;

			max-width: 45vw;
		transform: translateY(-50%) translateZ(0px);//Z for safari hack
		text-align: left;
		font-size: 8em;
		line-height: 1em;

		z-index: 999;

		@include bp-medium {
			font-size: 6em;
			left: 6vw;
		}
		@include bp-small {
			font-size: 4em;
			left: 4vw;
		}
	}

	.wolfmusic{
		position: absolute;
		bottom: 0; left: 8vw;
		transform: translateY(50%);
		font-size: 1em;
		bottom: $spacing-unit*3;

		z-index: 999;
		&:before{content:'♫ ';}

		@include bp-medium {
			left: 6vw;
		}
		@include bp-small {
			left: 4vw;
		}
	}

	.wolftitle, .wolfmusic{@include transition(opacity .5s ease)}
}

.full{
	overflow-x: hidden; 
	overflow-y: auto;


}
.leftarrow a{cursor: url('https://cdn3.iconfinder.com/data/icons/google-material-design-icons/48/ic_keyboard_arrow_left_48px-128.png'), e-resize;}
.rightarrow a{cursor: url('http://simpleicon.com/wp-content/uploads/arrow-35-64x64.png'), w-resize;}