$spacing-unit: 20px;
$font: 'Circular-Bold';
$font-italic: 'Circular-BoldItalic';
$wolfgif-width: 70%;
$site-max-width: 2600px;

$screen-break1: 'screen and (max-width: 1000px)';
$screen-mobile: 'screen and (max-width: 700px)';




body{
	font-family: $font;
	color: black;
	// background-color: #eee;
	background-attachment: fixed;
}
a{
	color: black; 
	text-decoration: none;
	&:visited{color: black;}
}
canvas
{
	position: fixed;
	z-index: 00;
}

h1{font-size: 1em;}

#page-wrapper{
	position: relative;
	width: 100%; max-width: $site-max-width;
	overflow-x: hidden;
	margin: auto;
	background: transparent;
}

nav{
	position: fixed;
	width: 100%; max-width: $site-max-width;
	margin-top: $spacing-unit*2;
	
	font-family: $font-italic;

	box-sizing: border-box;
	z-index: 999;
}

nav ul{
	width: 100%;
	z-index: 999;
	text-align: right;
	padding: 0 $spacing-unit*2 0 $spacing-unit*2;
	li:nth-child(1){float: left; margin-left: 0;}
	li{
		@extend h1;
		float: right;
		margin-left: $spacing-unit*2;
	}
}

.about{
	width: 100%;
	text-align: center;
	h2{
		font-size: 5em;
		@media #{$screen-mobile}{
			font-size: 3em;
		}
	}
	margin-bottom: $spacing-unit*4;
	padding: $spacing-unit*2;
	@media #{$screen-mobile}{
		padding: $spacing-unit;
	}
}

ul.grid{
	width: 100%;
	margin-top: $spacing-unit*6;
	box-sizing: border-box;

	display: inline-flex;
	flex-wrap: wrap;

	li{
		width: 80vw;
		margin-left: 10vw;
		margin-bottom: $spacing-unit*4;
		@media #{$screen-mobile}{
			width: 100vw;
			margin-left: 0;
			padding: $spacing-unit;
		}
	}

	.wrapper{
		display: inline-flex;
		align-items: flex-end;
		perspective: 500px;//IMPORTANT FOR ROTATION
		// border: 1px solid red;
		@media #{$screen-mobile}{
			width: 100%;
			display: flex;
			flex-direction: column;
			align-items: center;
			flex-wrap: wrap;
		}

	}

	.wolf-parent{
		display: block;

	}

	a img{
		max-width: 600px; max-height: 600px;
		transition: all 250ms;

		// box-shadow: 0px 15px 20px rgba(0,0,0,.15);
		@media #{$screen-break1}{
			max-width: 100%; height: auto;
		}
		@media #{$screen-mobile}{
			order: 10;
		}

		&:before{
			content:'';
			position: absolute;
			top: 0; bottom: 0; left: 0; right: 0;
			background-color: green;
			border: 1px solid red;
		}
	}

	h1{
		text-align: left;
		font-size: 6em;
		line-height: 1em;
		transform: translateX(-$spacing-unit*2) scale(1);

		order: 5;
		
		@media #{$screen-break1}{
			font-size: 5em;
			transform: translateX(-$spacing-unit*4);
		}
		@media #{$screen-mobile}{
			order: 10;
			text-align: center;
			transform: none;
		}
	}
	.music{
		font-size: .3em;
		line-height: 1.5em;
		padding-bottom: $spacing-unit;
		order: 5;
		&:before{content:'♫ ';}
	}

	li:nth-child(even){
		margin-left: 10vw;
		transform: translateY(0%);
		@media #{$screen-mobile}{
			margin-left: 0;
		}

		.wrapper{
			float: right;
		}
		.music:before{content: '';}
		.music:after{content: ' ♫';}

		a, img{
			order: 10;
		}
		h1{
			text-align: right;
			transform: translateX($spacing-unit*2);
			@media #{$screen-break1}{
				transform: translateX($spacing-unit*4);
			}
			@media #{$screen-mobile}{
				text-align: center;
				transform: none;
			}
		}
	}
}

.full{
	position: fixed;
	z-index: 999;
	border: 1px solid red;
}