$spacing-unit: 20px;
$font: 'Circular-Bold';
$font-italic: 'Circular-BoldItalic';
$wolfgif-width: 70%;
$site-max-width: 2600px;

$screen-break1: 1400px;
$screen-break2: 1000px;
$mobile: 600px;

body{
	font-family: $font;
	color: black;
	background-color: #eee;
	//background: url('http://subtlepatterns2015.subtlepatterns.netdna-cdn.com/patterns/grid.png');
	background-attachment: fixed;
}
a{
	color: black; 
	text-decoration: none;
	&:visited{color: black;}
}

@mixin center(){
	position: absolute;
	top:50%;	 left:50%;
	-webkit-transform: translate(-50%, -50%);
}

h1{font-size: 1em;}

#page-wrapper{
	position: relative;
	width: 100%; max-width: $site-max-width;
	overflow-x: hidden;
	margin: auto;
}

nav{
	position: fixed;
	width: 100%; max-width: $site-max-width;
	margin-top: $spacing-unit*2;
	
	font-family: $font-italic;

	box-sizing: border-box;
	z-index: 999;
}

nav ul{
	width: 100%;
	z-index: 999;
	text-align: right;
	padding: 0 $spacing-unit*2 0 $spacing-unit*2;
	li:nth-child(1){float: left; margin-left: 0;}
	li{
		@extend h1;
		float: right;
		margin-left: $spacing-unit*2;
	}
}

.about{
	width: 100%;
	text-align: center;
	h2{
		font-size: 5em;
	}
	margin-bottom: $spacing-unit*4;
	padding: $spacing-unit*2;
}

ul.grid{
	width: 100%;
	margin-top: $spacing-unit*6;
	box-sizing: border-box;

	display: inline-flex;
	flex-wrap: wrap;
	// border: 1px solid grey;

	li{
		width: 80vw;
		margin-left: 10vw;
		margin-bottom: $spacing-unit*4;
		// border: 1px solid red;
	}

	.wrapper{
		float: left;
		display: inline-flex;
		align-items: flex-end;
		perspective: 500px;
		// background-color: green;
	}

	.wolf-parent{
		display: block;
	}

	a img{
		max-width: 600px; max-height: 600px;
		order: 0;
		opacity: .6;
	}

	h1{
		text-align: left;
		font-size: 6em;
		line-height: 1em;

		transform: translateX(-$spacing-unit*2);
		order: 5;
	}
	.music{
		font-size: .3em;
		line-height: 2em;
		padding-bottom: $spacing-unit;
		order: 5;
	}

	li:nth-child(even){
		margin-left: 10vw;

		.wrapper{
			float: right;
		}

		a ,img{
			order: 10;
		}
		h1{
			text-align: right;
			transform: translateX($spacing-unit*2);
		}
	}

}