#logo{
	// font-family: Graphik-BoldItalic;
	float: left;
	padding: 0 25px;
  cursor: $wolf;
	text-decoration: none;
	p{
		font-weight: bold;
		font-style: italic;
		font-size: 25px;
		color: $white;
		letter-spacing: -0.5px;
	}
	&:hover{
		background: $red;
	}
}

#lazerhome{
	top: 0; bottom: 0; left: 0; right: 0;
	position: absolute;
}